.radio {
    display: flex;
    align-items: center;
    cursor: pointer;

    &__input {
        display: none;

        &:checked + .radio__checkmark:after {
            opacity: 1;
        }
    }
    &__checkmark {
        width: px-to-rem(20);
        height: px-to-rem(20);
        border-radius: px-to-rem(9999);
        border: px-to-rem(1) solid var(--input-border-color);
        position: relative;

        &:after {
            content: '';
            position: absolute;
            width: px-to-rem(15);
            height: px-to-rem(15);
            border-radius: px-to-rem(9999);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: var(--button-bg);
            opacity: 0;
        }
    }
    &__label {
        margin-left: px-to-rem(8);
        font-size: px-to-rem($labelFontSize);
        font-weight: bold;
    }
}